* {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: 'Shogi';
    src: url(/font/hkgyoprokk.ttf);
}

@font-face {
    font-family: 'Shogi Cursive';
    src: url(/font/hksoukk.ttf);
}